* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

.header {
    color: white;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.89)),
    url("header.jpg");
    width: 100vw;
    height: 45vh;
    background-size: 50%;
}

h1 {
    font-size: 80px;
    padding-top: 7%;
}

#line, #login, #signup {
    position: fixed;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 300ms;
}

#login:hover, #signup:hover{
    text-decoration: underline;
}

#login {
    right: 30px;
    top: 10px;
}

#signup {
    right: 110px;
    top: 10px;
}

#line {
    right: 95px;
    top: 5px;
    font-size: 25px;
}

.index {
    background-color: rgb(111, 111, 111);
}

.login, .signup, .Settings{
    background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)),
    url("Inlog-backdrop.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100%;
}

.signup-box, .inlog-box{
    width: 13%;
    font-size: 20px;
    font-family: sans-serif;
}

.inlog-box1, .signup-box1{
    position: absolute;
    top: 43%;
    right: 51%;
}

.inlog-box2, .signup-box2 {
    position: absolute;
    top: 43%;
    left: 51%;
}

.signup-box3{
    position: absolute;
    top: 47%;
    right: 51%;
}

.signup-box4{
    position: absolute;
    top: 47%;
    left: 51%;
}

.submit-btn{
    position: absolute;
    width: 8%;
    height: 6%;
    left: 46%;
    border: solid black 3px;
    border-radius: 200px;
    background-color: rgb(165, 228, 255);
    font-size: 26px;
    transition: 1s;
}

.btn1{
    top: 48%;
}

.btn2{
    top: 52%;
}

.submit-btn:hover{
    background-color: rgb(0, 72, 103);
    color: white;
}

.h1-inlog, .h1-signup, .h1-settings{
    text-align: center;
}

.h1-settings {
    transform: translateY(-100px);
}

.h2-inlog, .h2-signup, .h2-settings{
    font-size: 40px;
    color: white;
    margin: 20px 0px 0px 60px;
    transition: 1.2s;
}

.h2-inlog:hover, .h2-signup:hover, .h2-settings:hover{
    font-size: 40px;
    color: rgb(97, 97, 97);
    transform: translateX(-40px);
}

h3{
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}

em{
    font-size: 160px;
    color: white
}

a{
    text-decoration: none;
    display: inline-block;
    color: white;
}

.red{
    color: red;
    text-align: center;
}

.green{
    color: rgb(0, 185, 0);
    text-align: center;
}

.melding-a{
    color: red;
    text-decoration: underline;
}

.melding{
    margin-top: 6%;
}

.message{
    margin-top: 8%;
}

.username{
    position: absolute;
    top: 15px;
    right: 55px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.UserIcon{
    position: absolute;
    top: 2px;
    right: 0;
    width: 50px;
    height: 50px;

}

.Uitlog-btn, .Setting{
    position: absolute;
    right: 50px;
    color: white;
}

.Uitlog-btn{
    top: 50px;
}

.Setting{
    top: 75px;
}

.Uitlog-btn:hover, .Setting:hover{
    text-decoration: underline;
}




.Kattenfoto{
    position: absolute;
    right: 0;
    top: 50vh;
    width: 400px;
    height: 250px;
}

.info{
    color: white;
    width: 50vw;
}

.projecten{
    text-decoration: underline;
    color: rgb(0, 179, 255);
}